<div id="template-select" class="FrSOzf">
   <div aria-hidden="true" class="tzcF6">
      <span class="DPvwYc uSx8Od" aria-hidden="true">
         <svg width="20" height="20" viewBox="0 0 24 24" focusable="false" class=" NMm5M">
            <path d="M3 5H1v16c0 1.1.9 2 2 2h16v-2H3V5zm18-4H7c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V3c0-1.1-.9-2-2-2zm0 16H7V3h14v14z"></path>
         </svg>
      </span>
   </div>
   <div class="j3nyw WxPQPe" id="xBusySel">
      <div class="jZ0DTb SNlH9">
         <div
             id="template-value"
             role="listbox"
             aria-expanded="false"
             class="jgvuAb GfgKp"
             jscontroller="WmhYvc"
             jsaction="click:cOuCgd(LgbsSe); keydown:I481le; keypress:Kr2w4b; mousedown:UX7yZ(LgbsSe),npT2md(preventDefault=true); mouseup:lbsD7e(LgbsSe); mouseleave:JywGue; touchstart:p6p2H(LgbsSe); touchmove:FwuNnf; touchend:yfqBxc(LgbsSe|preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd(LgbsSe); focus:AHmuwe; blur:O22p3e;b5SvAb:TvD9Pc;Z2AmMb:b50fGb;arGABd:aqzPVe;"
             jsshadow=""
             jsname="iMra0"
             aria-label="Notification method"
         >
            <div jsname="LgbsSe" role="presentation">
               <div class="ry3kXd Ulgu9" jsname="d9BH4c" role="presentation">
                  <div data-template-select="alignment" class="MocG8c LMgvRb KKjvXb" jsname="wQNmvb" jsaction="" data-value="1" aria-selected="true" tabindex="0" role="option">
                     <div class="kRoyt MbhUzd ziS7vd" jsname="ksKsZd" style="top: 19px; left: 61px; width: 67px; height: 67px;"></div>
                     <span jsslot="" class="vRMGwf oJeWuf">Alignment</span>
                  </div>

                  <div data-template-select="decision" class="MocG8c LMgvRb" jsname="wQNmvb" jsaction="" data-value="2" aria-selected="false" aria-label="Pop-Up" tabindex="-1" role="option">
                     <div class="kRoyt MbhUzd" jsname="ksKsZd" style="top: 21px; left: 64px; width: 104px; height: 104px;"></div>
                     <span jsslot="" class="vRMGwf oJeWuf">Decision</span>
                  </div>

                  <div data-template-select="broadcast" class="MocG8c LMgvRb" jsname="wQNmvb" jsaction="" data-value="3" aria-selected="false" aria-label="Pop-Up" tabindex="-1" role="option">
                     <div class="kRoyt MbhUzd" jsname="ksKsZd" style="top: 21px; left: 64px; width: 104px; height: 104px;"></div>
                     <span jsslot="" class="vRMGwf oJeWuf">Broadcast</span>
                  </div>

                  <div data-template-select="11" class="MocG8c LMgvRb" jsname="wQNmvb" jsaction="" data-value="4" aria-selected="false" aria-label="Pop-Up" tabindex="-1" role="option">
                     <div class="kRoyt MbhUzd" jsname="ksKsZd" style="top: 21px; left: 64px; width: 104px; height: 104px;"></div>
                     <span jsslot="" class="vRMGwf oJeWuf">1:1</span>
                  </div>

                  <div data-template-select="custom" class="MocG8c LMgvRb" jsname="wQNmvb" jsaction="" data-custom-template="true" data-value="5" aria-selected="false" aria-label="Pop-Up" tabindex="-1" role="option">
                     <div class="kRoyt MbhUzd" jsname="ksKsZd" style="top: 21px; left: 64px; width: 104px; height: 104px;"></div>
                     <span jsslot="" class="vRMGwf oJeWuf">Custom</span>
                  </div>
               </div>
               <div class="e2CuFe eU809d" role="presentation"></div>
            </div>
            <div
                 id="template-dropdown"
                 class="OA0qNb ncFHed qs41qe"
                 soy-server-key="5:pZtlf"
                 jsaction="click:dPTK6c(wQNmvb); mousedown:uYU8jb(wQNmvb); mouseup:LVEdXd(wQNmvb); mouseover:nfXz1e(wQNmvb); touchstart:Rh2fre(wQNmvb); touchmove:hvFWtf(wQNmvb); touchend:MkF9r(wQNmvb|preventMouseEvents=true)"
                 role="presentation"
                 jsname="V68bde"
                 style="min-width: 104px; top: 324px; display: none;"
                 aria-hidden="true"
             ></div>
         </div>

      </div>
   </div>
</div>



